<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CS servers</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- @if env='development' -->
  <link rel="stylesheet" href="/css/flags.css">
  <!-- @endif -->
  <!-- @if env!='development' -->
  <link rel="stylesheet" href="/css/app.min.css">
  <!-- @endif -->
</head>
<body>
  <div class="container" ng-app="CS" ng-controller="AppCtrl">

    <input
      type="text"
      class="form-control"
      ng-model="filter.map"
      typeahead="map for map in maps | filter:$viewValue | limitTo:10"
      />
    <label for="min-players">min. players</label>
    <input ng-model="filter.players.min" id="min-players" type="number" min="0" max="32">

    <label for="max-players">max. players</label>
    <input ng-model="filter.players.max" id="max-players" type="number" min="0" max="32">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Map</th>
          <th>Players</th>
          <th>Title</th>
          <th>Address</th>
          <th>Time elapsed (min)</th>
        </tr>
      </thead>
      <tbody infinite-scroll="loadMore()">
        <tr ng-repeat="server in servers | filterServers:filter | orderBy:'players.now' | limitTo:limit">
          <td ng-bind="$index + 1"></td>
          <td ng-bind="server.map"></td>
          <td>{{server.players.now}}/{{server.players.total}}</td>
          <td><span class="flag" ng-class="'flag-' + server.country"></span> {{server.title}}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-xs"
              clip-copy="server.address"
              ng-click="copy($index)"
              >copy</button>

            <span ng-bind="server.address" ng-hide="copied[$index]"></span>
            <span ng-show="copied[$index]">&nbsp;Copied</span>
          </td>
          <td ng-bind="server.time || '?'" style="text-align: center;"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>

  <!-- @if env='development' -->
  <script src="js/lib/ngInfiniteScroll.js"></script>
  <script src="js/lib/radioGroup.js"></script>
  <script src="js/lib/ngClip.js"></script>
  <script src="bower_components/zeroclipboard/ZeroClipboard.min.js"></script>
  <script src="js/app.js"></script>
  <!-- @endif -->

  <!-- @if env!='development' -->
  <script src="js/app.min.js"></script>
  <!-- @endif -->
</body>
</html>
